<h1>Listing blogs</h1>

<table border=1>
  <tr>
    <th>date</th>
    <th>title</th>
    <th>body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.post_date %></td>
    <td><%= blog.title %></td>
    <td><%= blog.body_abbr %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
